%center {
    display: flex;
    justify-content: center;
    align-items: center;
}
%MonseratItalic {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 36px;
}
@mixin shad {
    background: linear-gradient(145deg, #f0f0f0, $pink);
    box-shadow:  5px 5px 10px #5c5c5c,
                 0px 0px 10px #ffffff;
}
@mixin shadInner {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px $pink,
                inset -5px -5px 10px #ffffff;
}