@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";
.container {
    height: 100%;
    padding-top: 50px;

    overflow: auto;
    width: 80%;
    margin: auto;
    &::-webkit-scrollbar {
        width: 7px;
        background-color: #f9f9fd;
    }

    .chat {
        height: 100vh;
        overflow: auto;
        padding: 10px 20px;
        padding-bottom: 150px;

    }
    .input {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 130px;
        border-top: 2px solid #ccc;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        @include shad;
  
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
}
@media (max-width: 830px) {
    .container {
        width: 100vw !important;
    }
  }