@import "../../styles/constants.scss";
.container {
    height: 100%;
    padding: 10px 20px;
    overflow: hidden;
    width: 50%;
    margin: auto;
    
}
@media (max-width: 830px) {
    .container {
        width: 100vw !important;
    }
  }