@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";
.container {
   height: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   min-height: 100vh;
   padding: 20px;
   background: #FEC8E4;
   background: -webkit-linear-gradient(top left, #FEC8E4, #4CBEE4);
   background: -moz-linear-gradient(top left, #FEC8E4, #4CBEE4);
   background: linear-gradient(to bottom right, #FEC8E4, #4CBEE4);
   .goBack {
       position: absolute;
       top:10px;
       padding: 10px 20px;
       border-radius: 20px;

       background-color: #333;

       border-radius: 63px;
       background: linear-gradient(145deg, #f0f0f0, #cacaca);
       box-shadow:  5px 5px 10px #5c5c5c,
                    -5px -5px 10px #ffffff;
   


        p {
            // font-size: 44px;
            // line-height: 44px;
            color:black
        }
        // transition: 0.1s ease-in-out;
        &:hover {
            background-color: white;
            border:2px solid transparent;
            cursor: pointer;
      
                         background: #e0e0e0;
                         box-shadow: inset 5px 5px 10px #5c5c5c,
                                     inset -5px -5px 10px #ffffff;
            p {
                color:black
            }
        }
   }


//    
    .title {
        margin-bottom: 10px;
        font-size: 50px;
        line-height: 61px;
        text-align: center;
        color:$black;
        // font-family: 'Cormorant Infant', serif;
        font-variant-caps: unicase;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
    }
    h2 {
        text-align: center;
        font-size: 45px;
        line-height: 54px;
        font-family: 'Cormorant Infant', serif;
        font-style: normal;
    }
    p {
        text-align: center;
    }
    .content {
        padding: 0px 20px;
        max-width: 1040px;
        margin: auto;
    }
    .topImageContainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-height: 10vh;
        img {
            height: 20vw;
            width: 30vw;
            &:nth-child(1) {
                top:0;
                left:0;
                width: 30vw;
            }
            &:nth-child(2) {
                position: absolute;
                top:0;
                left:50%;
                width: 100vw;
                transform: translate(-50%, 0%);
            }
            &:nth-child(3) {
                top:0;
                right: 0;
                width: 30vw;
            }
        }
    }
    .bottomImageContainer {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 10vh;
        img {
            height: 20vw;
            width: 30vw;
            &:nth-child(1) {
                position: absolute;
                bottom:0;
                left:0;
                width: 30vw;
            }
            &:nth-child(2) {
                position: absolute;
                bottom:0;
                left:50%;
                width: 80vw;
                height: 40vw;
                transform: translate(-50%, 0%);
            }
            &:nth-child(3) {
                position: absolute;
                bottom:0;
                right:0;
                width: 30vw;
            
            }
        }
    }
  .questions {
      padding: 10px 20px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .question {
          position: relative;
          z-index: 1000;
          border-radius: 20px;
          padding: 5px 20px;
        //   border:2px solid $pink;
          margin: 10px;
        //   background-color: #E4FDFF;
          background: linear-gradient(145deg, #f0f0f0, $pink);
          box-shadow:  5px 5px 10px #5c5c5c,
                       -5px -5px 10px #ffffff;
                              
          
      }
      
  }
}

@media (max-width: 970px) { 
    .content {
        width: 100vw !important;
    }

}

@media (max-width: 540px) { 
    h2 {
      font-size: 25px !important;
      line-height: 25px !important;
    }
    .title {
        font-size: 25px !important;
    }
  
  }