@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";
.container {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border:3px solid $pink;
    border-radius: 15px;
    padding: 10px 20px;
    flex-wrap: wrap;
    @include shad;
    overflow: hidden;
    .timer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .timeContainer {
        position: relative;
        z-index: 1000;
        margin-right: 10px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        flex-basis: 10%;
        justify-content: center;
        .timeContainerWrapper {
            position: relative;
            z-index: 1000;
            margin-right: 10px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            justify-content: center;
        
            width: 100%;
        }
        .year {
            margin-left: 10px;
        }

        &:last-child {
            flex-basis: 50%;
        }
        .icon {
            width: 35px;
            height: 35px;
            margin-right: 10px;
            margin-left: 10px;
        } 
    }
    h2{
        font-size: 60px;
      
        white-space: nowrap;
      
    }
    h3 {
        font-size: 25px;
        line-height: 30px;
        font-family: "pro";
        &:last-child {
            color: #388AAD;
        }
    }
    p {
        text-align: left;
        font-size: 25px;
        &:first-child {
            font-size: 25px;
            font-weight: 600;
        }
    }
    a{
        font-size: 25px;
        line-height: 30px;
        font-family: "pro";
        color: #388AAD;
        text-decoration: none;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        // animation-name: shine;
        transition: 0.2s ease-in-out;
        &:hover {
           opacity: 0.5;

        }
        
    }
}



@media (max-width: 440px) { 
    .timer {
        // flex-direction: column;
        // width: 100%;

    }
   
    .container {
        .timeContainer {
            h2,p {
                font-size: 15px !important;
            }
            h3, a {
                font-size: 15px !important;
            }
        }
  

    }


}
@media (max-width: 970px) { 
    .timeContainer {
        flex-basis: 100% !important;
        justify-content: flex-start !important;
        width: 100% !important;
    
        .timeContainerWrapper {
            justify-content: flex-start !important;
            flex-basis: 100% !important;
       
        }
  
    }

}
@keyframes shine {
    0% {
        -moz-text-shadow:0 0 10px transparent; -webkit-text-shadow:0 0 10px transparent; text-shadow:0 0 10px transparent;

    }
    50% {
        -moz-text-shadow:0 0 10px #388AAD; -webkit-text-shadow:0 0 10px #388AAD; text-shadow:0 0 10px #388AAD;
    }
    100% {
        
        -moz-text-shadow:0 0 10px transparent; -webkit-text-shadow:0 0 10px transparent; text-shadow:0 0 10px transparent;
    }
    
}
