
@import url(https://fonts.googleapis.com/css?family=Lato:300,700,300italic);

$pp-purple: #861a54;
$pp-blue: #054f7d;
$pp-ltblue: #00a7cf;
$sp-yellow: #efe348; 

// display: flex;
// font-family: 'Lato', Arial, sans-serif;
// -webkit-background-size: cover;
// -moz-background-size: cover;
// -o-background-size: cover;
// background-size: cover;

#root {
  height: 100%;
}
.back {
  position: absolute;
  width: 1440px;
  height: 900px;
  left: 0px;
  top: 0px;
}
.wrapper {
  position: relative;
  height: 100%;
  min-height: 100vh;
  /* Animation */
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
  background: #5F5463;
  background: -webkit-linear-gradient(top left, #5F5463, #251D26);
  background: -moz-linear-gradient(top left, #5F5463, #251D26);
  background: linear-gradient(to bottom right, #5F5463, #251D26);

  // 
//   background: #426BD1;
// background: -webkit-linear-gradient(top left, #426BD1, #143458);
// background: -moz-linear-gradient(top left, #426BD1, #143458);
// background: linear-gradient(to bottom right, #426BD1, #143458);
}
.activeBackground {
  background: #FEC8E4;
  background: -webkit-linear-gradient(top left, #FEC8E4, #4CBEE4);
  background: -moz-linear-gradient(top left, #FEC8E4, #4CBEE4);
  background: linear-gradient(to bottom right, #FEC8E4, #4CBEE4);
}
h1 {
  color: white;
  font-size: 2.4em;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 830px) {
  h1 {
    font-size: 2em;
  }
}
// @keyframes gradients {
//     0%   {background-position: 0 0;}
//     25% {background-position: 50% 0;}
//     50% {background-position: 90% 0;}
//     60% {background-position: 60%;}
//     75% {background-position: 40%;}
//     100%  {background-position: 0 0;}
// }