
@import url(https://fonts.googleapis.com/css?family=Lato:300,700,300italic);

$pp-purple: #861a54;
$pp-blue: #054f7d;
$pp-ltblue: #00a7cf;
$sp-yellow: #efe348; 


html, body,#root {
  height: 100%;
}

.back {
  // background: url(");
  position: absolute;
  width: 1440px;
  height: 900px;
  left: 0px;
  top: 0px;
}
.wrapper {
  background-image: linear-gradient(to right, $pp-blue,$pp-ltblue,$sp-yellow,$pp-purple,$pp-blue); 
  background-size: 600%;
  background-position: 0 0;
  box-shadow: inset 0 0 5em rgba(0,0,0,.5);
  display: flex;
  font-family: 'Lato', Arial, sans-serif;
  height: 100%;
 

//   justify-content: center;
flex-direction: column ;

  /* Animation */
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
//   position: fixed;
//   width: 120vw;
//   top:0;
//   left:0;
//   right:0;
//   bottom: 0;
}
h1 {
  color: white;
  font-size: 2.4em;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 830px) {
  h1 {
    font-size: 2em;
  }
}
// @keyframes gradients {
//     0%   {background-position: 0 0;}
//     25% {background-position: 50% 0;}
//     50% {background-position: 90% 0;}
//     60% {background-position: 60%;}
//     75% {background-position: 40%;}
//     100%  {background-position: 0 0;}
// }