@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";
.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 20px;
    
    .siri{
        margin-right: 10px;
    }
    .message{
        padding: 10px 20px;
        border-radius: 10px;

        margin-bottom: 15px;
        @include shad;
        &.blue {
            @include shadBlue;
        }
     
        &.on {
            background-color: #333;
            // border-color: $message; 
        }
        &.out{
            background-color: $message;
      
            .text{
                color: #333;
                text-align: left;
            }
        }
    }
    .inputContainer {
            @include shad;
            height: 100%;
            padding: 10px 20px;
            background-color: #333;
            outline: none;
            border-radius: 10px;

            margin-right: 10px;
            color:#333;
    }
}


