@import "../../styles/constants.scss";
.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .siri{
        margin-right: 10px;
    }
    .message{
        padding: 10px 20px;
        border-radius: 10px;
        border-width: 1.5px;
        border-style: solid;
        margin-bottom: 15px;
        &.on {
            background-color: $white;
            border-color: $message; 
        }
        &.out{
            background-color: $message;
            border-color: $white; 
            .text{
                color: $white;
                text-align: left;
            }
        }
    }
    .inputContainer {
            height: 100%;
            padding: 10px 20px;
            background-color: #333;
            outline: none;
            border-radius: 10px;
            border:2px solid white;
            margin-right: 10px;
            color:white;
    }
}


